
{% extends "base.html" %}

{% block content %}

<section class="pb_section pb_slant-white" id="section-faq">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center mb-5">
          <h1 class="text-uppercase pb_color-dark-opacity-3"><strong>error 404</strong></h1>
          <br>
          <h1 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Página no encontrada</strong></h1>
        </div>
      </div>      
    </div>
  </section>


  {% endblock content %}