{% extends "base.html" %}

{% block content %}
<section class="pb_section pb_slant-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5">
          {% if object.image %}
          <img src="{{object.image.url}}" alt="Foto de {{object.name}}" class="img-fluid">
          {% endif %}
          {% if author %}
          <div class="media text-left mb-1 mt-5">
            <div class="media-body">
            <a href="{% url 'members:update-user' %}" class="btn btn-warning">Editar</a>
          </div>
          </div>
          {% else %}
          <div class="media text-left mb-1 mt-5">
            <div class="media-body">
            <a href="{% url 'notes:send-invitation-project' slug=object.slug %}" class="btn btn-success">Invitar a proyecto</a>
          </div>
          </div>
          {% endif %}
        </div>
        <div class="col-lg-8 pl-md-5 pl-sm-0">
          <div class="row">
            <div class="col">
              <h2>{{ object.name }}</h2>
              <p class="pb_font-20">{{ object.summary }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">

              <div class="media pb_feature-v2 text-left mb-1 mt-5">
                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
                <div class="media-body">
                  {% if object.resume %}
                  <a href="{{ object.resume.url }}" target="_blank" class="btn btn-success">Descargar CV</a>
                  {% else %}
                  <p>Currículum</p>
                  {% endif %}
                </div>
              </div>
              <div class="media pb_feature-v2 text-left mb-1 mt-5">
                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                <div class="media-body">
                  <h3 class="mt-2 mb-2 heading">¿Quién es {{ object.name }}?</h3>
                  <p class="text-sans-serif pb_font-16">{{ object.description }}</p>
                </div>
              </div>
              <div class="media pb_feature-v2 text-left mb-1 mt-5">
                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                <div class="media-body">
                  <h3 class="mt-2 mb-2 heading">Intereses de {{ object.name }}</h3>
                  <p class="text-sans-serif pb_font-16">
                  <ul>
                    {%for interest in interests %}
                  <li>{{interest.interest}}</li> 
                  {% endfor %}
                </ul>
                </p>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
      <h4>Información de Contacto:</h4>
      <div class="media pb_feature-v2 text-left mb-1 mt-5">
        <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
        <ul style="color: #71cb43 !important;">
          <li>
            {% if object.linkedin %}
            <p><a style="color: #47b55d !important;" href="{{object.linkedin}}" target="_blank">Linkedin</a></p>
          {% endif %}
          </li>
          <li>
            <p><a style="color: #47b55d !important;" href="mailto:{{object.user.email}}" target="_blank">{{object.user.email}}</a></p>
          </li>
          <!--<li>
            {% if object.phone %}
            <p><a style="color: #47b55d !important;" href="tel:{{object.phone}}" target="_blank">{{object.phone}}</a></p>
          {% endif %}
          </li>-->
        </ul>
      </div>
      </div>
      <div class="col-6">
        <div class="media pb_feature-v2 text-left mb-1 mt-5">
          <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h3 class="mt-2 mb-2 heading">Habilidades de {{ object.name }}</h3>
            <p class="text-sans-serif pb_font-16">
            <ul>
              {%for skill in skills %}
            <li>{{skill.skill}}</li> 
            {% endfor %}
          </ul>
          </p>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>

  </section>


  <section class="pb_section pb_slant-light" id="section-pasos">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center mb-5">
          <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Iniciativas de {{ object.name }}</strong></h5>
          <h2>Proyectos</h2>
          {% if author %}
          <br>
          <a href="{% url 'projects:add-project' %}" class="btn btn-success">Añadir proyecto</a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        {% if assignations %}
        {% for assignation in assignations %}
        <div class="col-lg-4 col-md- col-sm-6">
          <div class="media d-block pb_feature-v1 text-left">

          <div class="card card-square" style="width: 18rem;">
              {% if assignation.project.image %}
                <img class="card-img-top" src="{{assignation.project.image.url}}" class="img-fluid" alt="Imagen de {{assignation.project}}">
              {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ assignation.project.title }}</h5>
                  <p class="card-text">{{ assignation.project.summary }} </p>
                  <a href="{{ assignation.project.get_absolute_url }}" class="btn btn-success">Ver más</a>
                </div>
          </div>

          </div>
        </div>
        {% endfor %}
        {% else %}
        <div style="height: 200px;" class="container">
          <h5>Por el momento {{object.name}} no cuenta con proyectos.</h5>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock content %}