{% extends "base.html" %}


{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<section class="pb_section overflow-hidden green-background">

    <!-- partial:index.partial.html -->
    <div class="container">
        <h2 style="color: white;" class="heading mb-5 pb_font-40">¡Create una cuenta con nosotros!</h2>
    </div>
    <div id="medium-indicator"></div>
    <div class="dx-viewport container">
        <form method="POST"  action="{% url 'core:newRegister'%}" enctype="multipart/form-data">
            <div id="form"></div>
        </form>
        <br>

    </div>

</section>
{% endblock content %}