

{% extends "base.html" %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div style="margin-top: 200px; margin-bottom: 200px;" class="container">
<form action="{{ project.get_join_project_url }}" method="POST" class="bg-white rounded pb_form_v1">
    {% csrf_token %}
    <h2 class="mb-4 mt-0 text-center">{{project.title}}</h2>
    <h4 class="mb-4 mt-0 text-center">Para: {{project.admin.username}}</h2>
    <h4 class="mb-4 mt-0 text-center">De: {{user.username}}</h2>
    <div class="form-group">
        <textarea cols="30" rows="1" class="form-control" name="subject" placeholder="Asunto"></textarea>
      </div>
      <div class="form-group">
        <textarea cols="30" rows="10" class="form-control" name="message" placeholder="Mensaje"></textarea>
      </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Enviar">
    </div>
</form>
</div>

{% endblock content %}