

{% extends "base.html" %}

{% block content %}



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div style="margin-top: 200px; margin-bottom: 200px;" class="container">
<form action="{{ project.get_update_project_url }}" method="POST" class="bg-white rounded pb_form_v1" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="mb-4 mt-0 text-center">Proyecto</h2>
    <div class="form-group">
        <input type="text" class="form-control pb_height-50 reverse" value="{{project.title}}" maxlength="30" name="title" placeholder="Título">
    </div>
    <div class="form-group">
        <textarea cols="30" rows="1" class="form-control" maxlength="80" name="summary" placeholder="Oneliner del Proyecto">{{project.summary}}</textarea>
      </div>
      <div class="form-group">
        <textarea cols="30" rows="10" class="form-control" name="description" placeholder="¿De qué trata?">{{project.description}}</textarea>
      </div>
      <div class="form-group">
      {{ form }}
    </div>
      
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Actualizar">
    </div>
      
      <a href="{{ project.get_delete_project_url }}" class="btn btn-danger">Borrar</a>
      <a href="{% url 'projects:project-add-tags' project_slug=project.slug category='computacion' %}" class="btn btn-warning">Ver Tags</a>
      <a href="{{ project.get_absolute_url }}" class="btn btn-success">Ver perfil de proyecto</a>
</form>
</div>

{% endblock content %}