{% extends "base.html" %}

{% block content %}
<br><br><br>
  <section class="pb_section pb_slant-light" id="section-pasos">
    <div class="container">
      <div style="margin-bottom: 10px !important; height: 80px !important;" class="row justify-content-center mb-5">
        <div class="col-md-6 text-center mb-5">
          <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Miembros recomendados</strong></h5>
          <h2>Perfiles</h2>
        </div>
      </div>
      <div style="height: auto;" class="row">
        <div class="col-2 border-left"></div>
        <div class="col-8">
          <div class="row">
            {% if page_obj%}
        {% for member in page_obj %}
        
        <div class="col-lg-4 col-md- col-sm-6">
          <div class="media d-block pb_feature-v1 text-left">

          <div class="card">
            {% if member.image %}
                <img style="margin: auto; height: 200px; width: 200px; max-width: 100%;"  class="card-img-top" src="{{member.image.url}}" alt="Imagen de {{member.name}}">
            {% else %}
            <img style="margin: auto; height: 200px; width: 200px; max-width: 100%;"  class="card-img-top" src="imagen_predeterminada.png}" alt="Imagen de {{member.name}}">            
                {% endif %}
                <div class="card-body">
                  <div class="card-title">{{ member.name }}</div>
                  <div style="font-size: smaller;" class="card-text">
                      {{ member.summary }}
                  </div>
                  <br>
                  <div style="margin: 0 auto; width: 100%;" class="card-text"><a class="btn btn-success" href="{{member.get_absolute_url}}">Conocer</a></div>
                  <br>
                </div>
              </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div style="height: 200px;" class="container">
        <h1>Por el momento no hay perfiles sugeridos...</h1>
      </div>
        {% endif %}
        
          </div>
        </div>
        <div class="col-2 border-right">
        </div>
        
      </div>
      <br>
      <br>
      <div style="display: flex; justify-content: center; align-items: center;" class="pagination ali">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a style="color: #47b55d" href="?page=1">&laquo; first</a>
                <a style="color:#47b55d" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a style="color:#47b55d" href="?page={{ page_obj.next_page_number }}">next</a>
                <a style="color:#47b55d" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
  </section>

{% endblock content %}