

{% extends "base.html" %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div style="margin-top: 200px; margin-bottom: 200px;" class="container">
<form action="{% url 'projects:add-project'%}" method="POST" class="bg-white rounded pb_form_v1" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="mb-4 mt-0 text-center">Proyecto</h2>
    <div class="form-group">
        <input type="text" class="form-control pb_height-50 reverse" maxlength="30" name="title" placeholder="Título">
    </div>
    <div class="form-group">
        <textarea cols="30" rows="1" class="form-control" maxlength="80" name="summary" placeholder="Oneliner del Proyecto"></textarea>
      </div>
      <div class="form-group">
        <textarea cols="30" rows="10" class="form-control" name="description" placeholder="¿De qué trata?"></textarea>
      </div>
      <div class="form-group">
      {{ form }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" value="Crear">
    </div>
</form>
</div>

{% endblock content %}