{% extends "base.html" %}

{% block content %}
<section class="pb_section pb_slant-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5">
          {% if object.image %}
          <img src="{{object.image.url}}" alt="Imagen de {{object.title }}" class="img-fluid">
          {% endif %}
        </div>
        <div class="col-lg-8 pl-md-5 pl-sm-0">
          <div class="row">
            <div class="col">
              <h2>{{ object.title }}</h2>
              <p class="pb_font-20">{{ object.summary }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg">

              <div class="media pb_feature-v2 text-left mb-1 mt-5">
                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
                <div class="media-body">
                  <h3 class="mt-2 mb-2 heading">
                      Administrador:
                      <a href={{ admin.get_absolute_url }}>
                          {{ admin.name }}
                      </a>
                  </h3>
                </div>
              </div>

              <div class="media pb_feature-v2 text-left mb-1 mt-5">
                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                <div class="media-body">
                  <h3 class="mt-2 mb-2 heading">Descripción</h3>
                  <p class="text-sans-serif pb_font-16">{{ object.description }}</p>
                  <!--<p class="text-sans-serif pb_font-16">Creado el {{ object.start_date }}</p>-->
                </div>
              </div>
              <div class="media pb_feature-v2 text-left mb-1 mt-5">
                <div class="pb_icon d-flex mr-3 align-self-start pb_w-15"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
                <div class="media-body">
                  <h3 class="mt-2 mb-2 heading">Intereses relacionados</h3>
                  {% for interest in project_interests %}
                  <p class="text-sans-serif pb_font-16">{{ interest.interest }}</p>
                  {% endfor %}
                </div>
              </div>
              <div class="media text-left mb-1 mt-5">
                <div class="media-body">
                <a href="{{ action_url }}" class="btn btn-{{color}}">{{button}}</a>
                {% if author %}
                <a href="{% url 'projects:project-find-members' slug=object.slug %}" class="btn btn-success">Miembros recomendados</a>
                {% endif %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="pb_section pb_slant-light" id="section-pasos">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center mb-5">
          <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>Miembros de {{ object.title }}</strong></h5>
          <h2>Equipo</h2>
        </div>
      </div>
      <div class="row">
        {% for assignation in assignations %}
        <div class="col-lg-4 col-md- col-sm-6">
          <div class="media d-block pb_feature-v1 text-left">

          <div class="card card-square" style="width: 18rem;">
            {% if assignation.user.member.image %}
                <img class="card-img-top img-fluid" src="{{assignation.user.member.image.url}}" alt="Imagen de {{assignation.user.member.name}}">
              {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ assignation.user.member.name }}</h5>
                  <p class="card-text">{{ assignation.user.member.summary }} </p>
                  <a href="{{ assignation.user.get_absolute_url }}" class="btn btn-success">Conocer</a>
                  {% if author %}
                  <a href="{{ assignation.get_delete_assignation_url }}" class="btn btn-danger">Borrar</a>
                  {% endif %}
                </div>
          </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock content %}