
{% extends "base.html" %}

{% block content %}

<div style="margin-top: 200px; margin-bottom: 200px;" class="container">
    <div class="row">
        <div class="col-4">
    <ol>
        <li>Escoge las categorías</li>
        <li>Escoge los tags</li>
        <li>Conoce los proyectos</li>
    </ol>
    <form action="{% url 'projects:project-filter'%}" method="GET">
    <div class="container">
    <h2>Intereses</h2>
    {% for interest_category in interest_categories %}
        {% if interest_category.0 %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="{{ interest_category.1.slug }}" name="{{ interest_category.1.slug }}" checked>
            <label class="form-check-label" for="{{ interest_category.1.slug }}">{{ interest_category.1 }}</label>
          </div>
        {% else %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="{{ interest_category.1.slug }}" name="{{ interest_category.1.slug }}">
            <label class="form-check-label" for="{{ interest_category.1.slug }}">{{ interest_category.1 }}</label>
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>

<div class="col-4">
    <div class="container">
        <h2>Selected Interests</h2>
        {% for interests_group in interests_groups %}
        {% for interest in interests_group %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="{{interest.slug}}" value="on" name="{{interest.slug}}">
            <label class="form-check-label" for="{{interest.slug}}">{{interest}}</label>
          </div>
          {% endfor %}
          {% endfor %}
    </div>

</div>
<div class="col-4">

</div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <br>
        <button class="btn btn-primary" type="submit">
            Buscar
        </button>
    </form></div>
    
    <div class="col-8">
    </div>
    
</div>
</div>






<section id="anchor">
<div style="margin-top: 200px; margin-bottom: 200px;" class="container">
<div class="row">
    <div class="col-2 border-left">
    </div>
    <div class="col-8">
      <div class="row">
        {% if page_obj %}
        {% for project in page_obj %}
    
    <div class="col-lg-4 col-md- col-sm-6">
      <div class="media d-block pb_feature-v1 text-left">

        <div class="card">
          {% if project.image %}
          <img style="margin: auto; height: 200px; width: 200px; max-width: 100%;" class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
          {% else %}
          <img style="margin: auto; height: 200px; width: 200px; max-width: 100%;" class="card-img-top" src="..." alt="Card image cap">
          {% endif %}
          <div class="card-block">
                <div class="card-title">{{ project.title }}</div>
                <div style="font-size: smaller;" class="card-text">
                    {{ project.summary }}
                </div>
                <p class="card-text"><small class="text-muted">{{project.start_date}}</small></p>
                <div style="margin: 0 auto; width: 50%;" class="card-text"><a class="btn btn-success" href="{{project.get_absolute_url}}">Ver más</a></div>
                <br>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div style="height: 200px;" class="container">
      <h2>No hay proyectos que coincidan con tu búsqueda...</h2>
    </div>
    {% endif %}
      </div>
    </div>
    <div class="col-2 border-right">
    </div>
    
  </div>
  <br>
  <br>
  <div style="display: flex; justify-content: center; align-items: center;" class="pagination ali">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a style="color: #47b55d" href="?page=1#anchor">&laquo; first</a>
            <a style="color:#47b55d" href="?page={{ page_obj.previous_page_number }}#anchor">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a style="color:#47b55d" href="?page={{ page_obj.next_page_number }}#anchor">next</a>
            <a style="color:#47b55d" href="?page={{ page_obj.paginator.num_pages }}#anchor">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</section>
{% endblock content %}